
/* * {border: 1px solid red;} */

html, body {
    background: linear-gradient(rgba(210, 180, 140, 0.822), rgba(194, 128, 47, 0.048), rgba(210, 180, 140, 0.089));
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 1px) {
    #desktopButtons {
        display: none;
    }
    #mobilebuttonPadding {
        margin: 0;
        margin-top: 10px;
    }
    #headerContainer {
        margin: 40px; 
        width: auto;
    }
    #setdesigner {
        justify-content: center;
        font-family: bauhaus;
        font-size: 30px;
        letter-spacing: 2px;
    }
    .logo {
        width: 25%;
        padding: 3px;
        margin: 2px;
    }
    h1 {
        font-family: bauhaus;
        font-size: 45px;
        color: white;
        text-align: center;
    }
    .artd {
        font-family: bauhus;
        font-size: 18px;
    }
    .btn-block {
        border:none;
        cursor:pointer;
        outline:none;
        font-family: bauhaus;
        padding: 10px;
        background: -moz-radial-gradient(center, ellipse cover, rgba(169,3,41,0.81) 0%, rgba(143,2,34,0.89) 44%, rgba(109,0,25,1) 100%);
        background: -webkit-radial-gradient(center, ellipse cover, rgba(169,3,41,0.81) 0%,rgba(143,2,34,0.89) 44%,rgba(109,0,25,1) 100%);
        background: radial-gradient(ellipse at center, rgba(169,3,41,0.81) 0%,rgba(143,2,34,0.89) 44%,rgba(109,0,25,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfa90329', endColorstr='#6d0019',GradientType=1 );        
        color: white;
        font-size: 20px;
        letter-spacing: 2px;
        border-radius: 10px;
        margin: 10px;
        border: 2px solid black;
  }
  .col-4 {
      text-align: center;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }
  .fa {
    padding: 15px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 25%;
    border: 1px solid black;
    background-color: white;
  }
  .fa-imdb {
      color: goldenrod;
  }
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  footer {
    background: linear-gradient(rgba(210, 180, 140, 0.822), rgba(194, 128, 47, 0.048), rgba(210, 180, 140, 0.089));
    padding: 8%;
}
#homecontainer {
    text-align: center;
    margin-bottom: 30px;
    font-family: bauhus;
    font-size: 20px;
}
.homerows{
    padding: 15px;
    padding-top: 0;
}
.fa-phone {
    color: green;
}
.txt-railway {
    font-family: bauhus; 
    font-size: 27px; 
    color: black; 
    text-align: center; 
    margin: 0; 
    margin-top: 20px;
}
#desktopHeader {
    display: none;
}
#desktopFooter {
    display: none;
}

  /* Small Devices, Tablets */
  
  @media only screen and (min-width: 768px) {
    #desktopHeader {
        letter-spacing: 10px;
        text-align: center;
        display: initial;
    }
    #headerContainer {
        display: none;
    }
    #desktopFooter {
        display: initial;
    }
    #mobileFooter {
        display: none;
    }
    #desktopButtons {
        display: initial;
        padding: 25px;
        margin: 20px;
    }
    #setdesigner {
        justify-content: center;
        letter-spacing: 10px;
        font-size: 60px;
        font-family: bauhus;
    }
    .logo {
        width: 70%;
        padding: 3px;
        margin: 10px;
    }
    h1 {
        font-family: bauhaus;
        font-size: 100px;
        color: white;
    }
    .artd {
        font-family: bauhus;
        font-size: 40px;
    }
    .btn-block {
        border:none;
        cursor:pointer;
        outline:none;
        font-family: bauhaus;
        padding: 10px;
        background: -moz-radial-gradient(center, ellipse cover, rgba(169,3,41,0.81) 0%, rgba(143,2,34,0.89) 44%, rgba(109,0,25,1) 100%);
        background: -webkit-radial-gradient(center, ellipse cover, rgba(169,3,41,0.81) 0%,rgba(143,2,34,0.89) 44%,rgba(109,0,25,1) 100%);
        background: radial-gradient(ellipse at center, rgba(169,3,41,0.81) 0%,rgba(143,2,34,0.89) 44%,rgba(109,0,25,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfa90329', endColorstr='#6d0019',GradientType=1 );        
        color: white;
        font-size: 20px;
        letter-spacing: 2px;
        border-radius: 10px;
        margin: 10px;
        border: 2px solid black;
  }

  .fa {
    padding: 15px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 25%;
    border: 1px solid black;
    background-color: white;
  }
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  footer {
    background: linear-gradient(rgba(210, 180, 140, 0.822), rgba(194, 128, 47, 0.048), rgba(210, 180, 140, 0.089));
    padding: 1%;
}
#homecontainer {
    text-align: center;
    margin-bottom: 30px;
    font-family: bauhus;
    font-size: 20px;
}
#buttonpadding {
    padding: 0;    
    font-size: 21px;
    margin: 0;
    height: 150%;
}
.homerows{
    padding: 15px;
    padding-top: 50px;
    font-size: 40px;
}
#phoneEmail {
    justify-content: center;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fa-phone {
    color: green;
    font-size: 45px;
    margin: 0;
    padding: 30px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(169,3,41,0.81) 0%, rgba(143,2,34,0.89) 44%, rgba(109,0,25,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(169,3,41,0.81) 0%,rgba(143,2,34,0.89) 44%,rgba(109,0,25,1) 100%);
    background: radial-gradient(ellipse at center, rgba(169,3,41,0.81) 0%,rgba(143,2,34,0.89) 44%,rgba(109,0,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfa90329', endColorstr='#6d0019',GradientType=1 ); }
.fa-phone:hover {
    display: none;
}
.fa-google {
    font-size: 45px;
    margin: 0;
    padding: 30px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(169,3,41,0.81) 0%, rgba(143,2,34,0.89) 44%, rgba(109,0,25,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(169,3,41,0.81) 0%,rgba(143,2,34,0.89) 44%,rgba(109,0,25,1) 100%);
    background: radial-gradient(ellipse at center, rgba(169,3,41,0.81) 0%,rgba(143,2,34,0.89) 44%,rgba(109,0,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfa90329', endColorstr='#6d0019',GradientType=1 ); }
.fa-imdb {
    color: goldenrod;
    font-size: 60px;
    margin: 0;
    padding: 30px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(169,3,41,0.81) 0%, rgba(143,2,34,0.89) 44%, rgba(109,0,25,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(169,3,41,0.81) 0%,rgba(143,2,34,0.89) 44%,rgba(109,0,25,1) 100%);
    background: radial-gradient(ellipse at center, rgba(169,3,41,0.81) 0%,rgba(143,2,34,0.89) 44%,rgba(109,0,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfa90329', endColorstr='#6d0019',GradientType=1 ); }

.txt-railway {
    font-family: bauhus; 
    font-size: 50px; 
    color: black; 
    text-align: center; 
    margin: 0; 
    padding: 0px;
    letter-spacing: 8px;
    }
  }
}