html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

@media only screen and (min-width: 1px) {
    #desktopFooter {
        display: none;
    }
    #mobileFooter {
        display: initial;
    }
    .navbar.navbar-1 .navbar-toggler-icon {
        background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
    }
    .navbar.navbar-1 .navbar-toggler {
        border: none;
        background: -moz-linear-gradient(left, rgba(169, 3, 41, 0.67) 0%, rgba(143, 2, 34, 0.82) 44%, rgba(109, 0, 25, 1) 100%);
        background: -webkit-linear-gradient(left, rgba(169, 3, 41, 0.67) 0%, rgba(143, 2, 34, 0.82) 44%, rgba(109, 0, 25, 1) 100%);
        background: linear-gradient(to right, rgba(169, 3, 41, 0.67) 0%, rgba(143, 2, 34, 0.82) 44%, rgba(109, 0, 25, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aba90329', endColorstr='#6d0019', GradientType=1);
    }
    .navbar {
        background: rgb(254, 255, 232);
        background: -moz-linear-gradient(left, rgba(254, 255, 232, 1) 0%, rgba(175, 132, 58, 1) 100%);
        background: -webkit-linear-gradient(left, rgba(254, 255, 232, 1) 0%, rgba(175, 132, 58, 1) 100%);
        background: linear-gradient(to right, rgba(254, 255, 232, 1) 0%, rgba(175, 132, 58, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#af843a', GradientType=1);
    }
    footer {
        background: linear-gradient(rgba(210, 180, 140, 0.822), rgba(194, 128, 47, 0.048), rgba(210, 180, 140, 0.089));
        padding: 0%;
        padding-top: 1%;
    }
    .fa {
        padding: 15px;
        font-size: 40px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        margin: 25%;
        background-color: white;
    }
    .fa-imdb {
        color: goldenrod;
    }
    .fa-phone {
        color: green;
    }
    .txt-railway {
        font-family: bauhus;
        font-size: 27px;
        color: black;
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }
    .nav-item {
        font-size: 20px;
        letter-spacing: 5px;
    }
    .navbar-brand {
        font-size: 26px;
        color: maroon;
        font-family: bauhus;
        text-decoration: bold;
    }
    .nav-link {
        color: black;
        font-size: 20px;
        font-family: bauhus;
        padding: 15px;
    }
    #projects {
        color: black;
        font-family: bauhus;
        letter-spacing: 6px;
        font-size: 25px;
        border-radius: 300px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 5px;
        background: rgb(254, 255, 232);
        background: -moz-linear-gradient(left, rgba(254, 255, 232, 1) 0%, rgba(175, 132, 58, 1) 100%);
        background: -webkit-linear-gradient(left, rgba(254, 255, 232, 1) 0%, rgba(175, 132, 58, 1) 100%);
        background: linear-gradient(to right, rgba(254, 255, 232, 1) 0%, rgba(175, 132, 58, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#af843a', GradientType=1);
        border: 1px solid black;
    }
    .col-4 {
        text-align: center;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #res1 {
        width: 100%;
        height: 100%;
        padding-right: 15%;
        margin-top: 10%;
    }
    #res2 {
        width: 100%;
        height: 100%;
        margin-bottom: 10%;
        padding-right: 15%;
    }
    .col-4 {
        text-align: center;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    #phoneEmail {
        justify-content: center;
        font-size: 25px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .txt-railway {
        font-family: bauhus;
        font-size: 27px;
        color: black;
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }
    .icon-bar {
        position: fixed;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
    }
    @media only screen and (min-width: 768px) {
        #desktopFooter {
            display: initial;
        }
        #mobileFooter {
            display: none;
        }
    #desktopButtons {
        display: initial;
        padding: 25px;
        margin: 20px;
    }
    #buttonpadding {
        padding: 0;
        font-size: 21px;
        margin: 0;
        height: 106%;
        box-shadow: 1px 1px 1px rgb(104, 104, 104);
        border: 1px solid rgb(87, 0, 20);
    }
    footer {
        margin-top: 5%;
        cursor: default;
        padding: 0;
        padding-bottom: 43px;
        background: linear-gradient(rgba(210, 180, 140, 0.822), rgba(194, 128, 47, 0.048), rgba(210, 180, 140, 0.089));
    }
    .fa-imdb {
        color: goldenrod;
        font-size: 45px;
        margin: 0;
        border: none;
        padding: 15px;
        box-shadow: 2px 2px 2px grey;
        background: -moz-radial-gradient(center, ellipse cover, rgba(169, 3, 42, 0.671) 0%, rgba(143, 2, 35, 0.548) 44%, rgba(109, 0, 25, 0.507) 100%);
        background: -webkit-radial-gradient(center, ellipse cover, rgba(169, 3, 42, 0.521) 0%, rgba(143, 2, 34, 0.89) 44%, rgba(109, 0, 25, 1) 100%);
        background: radial-gradient(ellipse at center, rgba(169, 3, 42, 0.932) 0%, rgba(143, 2, 35, 0.863) 44%, rgba(109, 0, 25, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfa90329', endColorstr='#6d0019', GradientType=1);
    }
    .fa-imdb:hover {
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.63);
        -webkit-transition: all .1s ease-in;
        -moz-transition: all .1s ease-in;
        -o-transition: all .1s ease-in;
        -ms-transition: all .1s ease-in;
        transition: all .1s ease-in;
    }
}
}

/* * { border: 1px solid red;} */