<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Steven M. Saylor</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-1 white shadow-sm">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Steven M. Saylor</a>

    <!-- Collapse button -->
    <button class="navbar-toggler shadow-sm" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent15">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resume">Resume</a>
        </li>
      </ul>
      <!-- Links -->

    </div>
    <!-- Collapsible content -->

  </nav>
  <hr>
  <!--/.Navbar-->
  <div data-aos="fade" data-aos-offset="200" data-aos-delay="800" data-aos-duration="1000" data-aos-easing="ease-in-out">
    <div class="row justify-content-center shadow-sm" id="projects">
      <p style="margin: 0;">Portfolio</p>
    </div>
  </div>
  <br>
  <div data-aos="fade-left" data-aos-offset="200" data-aos-delay="1200" data-aos-duration="1000" data-aos-easing="ease-in-out">
    <div class="container shadow-lg" style="border-radius: 15px; margin: 10px; width: 90%; padding: 10px;">
      <div class="row shadow-sm" style="margin: 5px;">
        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/1281BRIDGEAVIONICSBL.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">
        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/FEEDBINADD2BRICK1.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">
        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/FEEDBINADD2SECTIONS1.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row" style="margin: 5px;" style="margin: 5px;">
        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/FEEDBINADD2WINDOW1.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">
        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/Gohanhouse3dstruct40.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">
        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/HARRYPOTTTERROSEWIND.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">
        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/HILLTOP11.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/HILLTOP21.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/mon1.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/3DView5.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/SAPHIEELEV11.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/SAPHIEELEV21.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/SideHatchModel1.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/sloan1.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/3DView5.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/SS90210INTLIAMSGARAG.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/efbSS90210INTLIAMSGARAG.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/1opsREFLECTIVECEILIN.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/03ICU10FLOORPLAN2017.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/03ICU11CEILINGPLAN20.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/rendertest.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/90THIRDRAILDETAIL201.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/12790gELEVATOR111509.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/12790gELEVATOR201509.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/BLADEModel1.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/1281BRIDGEGLASSSCREE.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/f3c3DView4.jpg" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/TPBLP2072308Model1.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/TPPBlock3FACADE31320.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/3dView3.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/workshop3Layout11.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">

        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/workshopSECTIONS1.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">
        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/dadset1.png" style="width: 100%; height: 100%;">
        </div>
      </div>
      <div class="row shadow-sm" style="margin: 5px;">
        <div class="col-sm-6">
          <img src="http://u.cubeupload.com/jsaylor23/f42BENCH1.png" style="width: 100%; height: 100%;">
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div data-aos="fade-left" data-aos-offset="100" data-aos-duration="1000" data-aos-easing="ease-in">
      <footer>
        <hr>
        <p class="txt-railway">- Get In Touch -</p>
        <div class="row">
          <div class="col-4">
            <a href="https://www.imdb.com/name/nm0768513/" class="fa fa-imdb"></a>
          </div>
          <div class="col-4">
            <a href="mailto:StevenMSaylor@gmail.com" class="fa fa-google"></a>
          </div>
          <div class="col-4">
            <a href="tel:661-400-3507" class="fa fa-phone" aria-hidden="true"></a>
          </div>
        </div>
      </footer>
    </div>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>